src/main/resources/xsd/HentRoller.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Bronnoysundregistrene (Bronnoysundregistrene) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Stein Ivar Olsen (Bronnoysundregistrene) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="grunndata">
        <xs:annotation>
            <xs:documentation>Bekskriver tjenesten hentRoller</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orgnr" type="xs:int"/>
                            <xs:element name="hovedStatus" type="xs:int"/>
                            <xs:element name="underStatus">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="underStatusMelding" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="kode" type="xs:int" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="prossessDato" type="xs:date" use="required"/>
                        <xs:attribute name="tjeneste" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="40"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="melding" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="organisasjonsnummer">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="registreringsDato" type="xs:date" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="kontaktperson" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="deltakere" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="komplementar" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="sameiere" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="styre" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="revisor" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="regnskapsfoerer" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="eierkommune" minOccurs="0">
                                <xs:complexType>
                                    <xs:group ref="samendring"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tjeneste" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="samendring">
        <xs:annotation>
            <xs:documentation>Gruppen samendring</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="samendring" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Samendring (SAMtidig ENDRING): Samling av roller som hører naturlig sammen, og som endres samtidig.</xs:documentation>
                    <xs:documentation>Samendring (SAMtidig ENDRING): Samling av roller som hører naturlig sammen, og som endres samtidig.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="headerTekst" type="xs:string" minOccurs="0"/>
                        <xs:element name="rolle" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="vergeTekst" type="xs:string" minOccurs="0"/>
                                                <xs:choice>
                                                    <xs:element name="fodselsnr">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:length value="11"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="fodselsdato">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:length value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:element name="fornavn">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="50"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="mellomnavn" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="50"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="slektsnavn">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="50"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse1" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse2" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse3" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="postnr" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="4"/>
                                                            <xs:maxLength value="9"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="poststed" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="land" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute name="landkode4" type="xs:string" use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="valgtAv" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute name="kode" type="xs:string" use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ansvarsandel" type="xs:string" minOccurs="0"/>
                                                <xs:element name="fratraadt" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>K,R,F = Fratrådt - N = Ikke fratrådt</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="1"/>
                                                            <xs:enumeration value="K"/>
                                                            <xs:enumeration value="R"/>
                                                            <xs:enumeration value="F"/>
                                                            <xs:enumeration value="N"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="fratraadtTekst" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="8"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="revisorKategori" type="xs:int" minOccurs="0"/>
                                                <xs:element name="revisorRkode" type="xs:int" minOccurs="0"/>
                                                <xs:element name="reTekst" type="xs:string" minOccurs="0"/>
                                                <xs:element name="rolleFritekst" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                            <xs:attribute name="beskrivelse" type="xs:string" use="required"/>
                                            <xs:attribute name="statuskode" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="enhet" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="orgnr">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="9"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="navn1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="navn2" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="navn3" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="navn4" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="navn5" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse1" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse2" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="adresse3" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="postnr" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="4"/>
                                                            <xs:maxLength value="9"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="poststed" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="35"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="land" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute name="landkode4" type="xs:string" use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="valgtAv" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute name="kode" type="xs:string" use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ansvarsandel" type="xs:string" minOccurs="0"/>
                                                <xs:element name="fratraadt" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>K,R,F = Fratrådt - N = Ikke fratrådt</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="1"/>
                                                            <xs:enumeration value="K"/>
                                                            <xs:enumeration value="R"/>
                                                            <xs:enumeration value="F"/>
                                                            <xs:enumeration value="N"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="fratraadtTekst" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="8"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="revisorKategori" type="xs:int" minOccurs="0"/>
                                                <xs:element name="revisorRkode" type="xs:int" minOccurs="0"/>
                                                <xs:element name="reTekst" type="xs:string" minOccurs="0"/>
                                                <xs:element name="rolleFritekst" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                            <xs:attribute name="beskrivelse" type="xs:string" use="required"/>
                                            <xs:attribute name="statuskode" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="beskrivelse" type="xs:string" use="required"/>
                                <xs:attribute name="rolletype" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="trailerTekst" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="registreringsDato" type="xs:date" use="required"/>
                    <xs:attribute name="beskrivelse" type="xs:string" use="required"/>
                    <xs:attribute name="samendringstype" type="xs:string" use="required"/>
                    <xs:attribute name="kjonnsrepresentasjon" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
</xs:schema>