apps/udi-stub/src/main/resources/wsdl/schema/MT_1067_NAV_Data_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by aami (Utlendingsdirektoratet) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://udi.no/MT_1067_NAV_Data/v1" xmlns:common="http://udi.no/Common/v2" targetNamespace="http://udi.no/MT_1067_NAV_Data/v1" elementFormDefault="qualified">
    <xs:import namespace="http://udi.no/Common/v2" schemaLocation="Common_v2.xsd"/>
    <xs:complexType name="Alias">
        <xs:sequence>
            <xs:element name="Navn" type="PersonNavn" minOccurs="0"/>
            <xs:element name="Fodselsnummer" type="common:Fodselsnummer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AliasListe">
        <xs:sequence>
            <xs:element name="Alias" type="Alias" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Arbeidsadgang">
        <xs:sequence>
            <xs:element name="HarArbeidsadgang" type="JaNeiUavklart"/>
            <xs:element name="TypeArbeidsadgang" type="ArbeidsadgangType" nillable="true"/>
            <xs:element name="ArbeidsOmfang" type="ArbeidOmfangKategori" nillable="true"/>
            <xs:element name="ArbeidsadgangsPeriode" type="Periode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbeidsadgangUtvidet">
        <xs:sequence>
            <xs:element name="HarArbeidsadgang" type="JaNeiUavklart"/>
            <xs:element name="TypeArbeidsadgang" type="ArbeidsadgangType" nillable="true"/>
            <xs:element name="ArbeidsOmfang" type="ArbeidOmfangKategori" nillable="true"/>
            <xs:element name="ArbeidsadgangsPeriode" type="Periode" minOccurs="0"/>
            <xs:element name="Forklaring" type="xs:string" minOccurs="0"/>
            <xs:element name="Hjemmel" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Avgjorelse">
        <xs:sequence>
            <xs:element name="AvgjorelseId" type="xs:string"/>
            <xs:element name="OmgjortavAvgjorelseId" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>AvgjorelseId i en annen avgjørelse som omgjør denne avgjørelsen. Dette er typisk et omgjøringsvedtak, tilbakekallsvedtak, bortfallsvedtak eller lignende</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Avgjorelsestype" type="Avgjorelsestype" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Opplysninger om vedtak/beslutning er en Tillatelse eller et Utfall</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ErPositiv" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Angir om konklusjon i forhold til hjemmelen som vurderes i avgjørelsen er positiv.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tillatelse" type="Tillatelse" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell ekstra informasjon når en avgjørelse er en tillatelse, gitt at tillatelse har informasjon om varighet og/eller gyldighetsperiode</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Utfall" type="Utfall" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell ekstra informasjon når en avgjørelse er et utfall, gitt at utfall har informasjon om varighet og/eller gjeldende periode</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AvgjorelseDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Dato avgjørelse ble tatt. Må fylles ut for at avgjørelse faglig sett skal være gyldig. Enkelte vedtak/beslutninger ligger likevel uten dato.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EffektueringsDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Effektueringsdato i form av å informere om en avgjørelse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IverksettelseDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Iverksettelsedato i form av gjennomføring av negative vedtak (avslag og utfallsvedtak)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UtreisefristDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Frist for personen til å forlate landet som følge av negative vedtak (avslag og utfallsvedtak)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Saksnummer" type="xs:string"/>
            <xs:element name="Etat" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hvilken Etat som fattet vedtaket/avgjørelsen. Mulige verdier: UDI, UNE, POL, UD, etc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flyktingstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Hvis InkluderFlyktningstatus i HentPersonstatusParameter er satt til true, settes feltet Flyktingstatus til true eller false alt etter om avgjørelsen angir flyktningstatus eller ikke. Hvis InkluderFlyktningstatus i HentPersonstatusParameter er satt til false, vil feltet Flyktingstatus være satt til null</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UavklartFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Hvis InkluderFlyktningstatus i HentPersonstatusParameter er satt til true, settes feltet UavklartFlyktningstatus til true eller false alt etter om avgjørelsen er en konvertert kode eller ikke. Hvis InkluderFlyktningstatus i HentPersonstatusParameter er satt til false, vil feltet UavklartFlyktningstatus være satt til null</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Avgjorelser">
        <xs:annotation>
            <xs:documentation>Avgjørelsehistorikk</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AvgjorelseListe" type="AvgjorelseListe" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Liste med avgjørelser. Sortert etter dato med nyeste avgjørelse øverst. Tillatelsens/utfallets gyldighets startdato benyttes hvis den finnes. For tillatelser/utfall uten gyldighets startdato, benyttes avgjørelsesdato</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Uavklart" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Settes false hvis liste med avgjørelser kunne sendes. Settes true hvis liste med avgjørelser ikke kunne sendes pga dets innhold</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AvgjorelseListe">
        <xs:sequence>
            <xs:element name="Avgjorelse" type="Avgjorelse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Avgjorelsestype">
        <xs:sequence>
            <xs:element name="UtfallstypeKode" type="common:Kodeverk" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>UDI kodeverk. Type avgjørelse der det ikke er søkt om tillatelse (for eksempel utvisning).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GrunntypeKode" type="common:Kodeverk" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>UDI kodeverk. Oppholdsgrunnlaget som den vurderte tillatelsen faller inn under.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TillatelseKode" type="common:Kodeverk" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>UDI kodeverk. Tillatelse som er vurdert i avgjørelsen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AvslagEllerBortfallAvPO-BOSellerTilbakekallEllerFormeltVedtak">
        <xs:sequence>
            <xs:element name="AvgjorelsesDato" type="xs:dateTime" nillable="true"/>
            <xs:element name="BortfallAvPOellerBOS" type="BortfallAvPOellerBOS" minOccurs="0"/>
            <xs:element name="TilbakeKall" type="TilbakeKall" minOccurs="0"/>
            <xs:element name="AvslagPaSoknadOmOppholdstillatelseRealitetsBehandlet" type="AvslagPaSoknadOmOppholdstillatelseRealitetsBehandlet" minOccurs="0"/>
            <xs:element name="AvslagPaSoknadOmOppholdsrettRealitetsBehandlet" type="AvslagPaSoknadOmOppholdsrettRealitetsBehandlet" minOccurs="0"/>
            <xs:element name="FormeltVedtak" type="FormeltVedtak" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AvslagPaSoknadOmOppholdsrettRealitetsBehandlet">
        <xs:sequence>
            <xs:element name="AvslagsGrunnlagEOS" type="EOSellerEFTAGrunnlagskategoriOppholdsrett" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AvslagPaSoknadOmOppholdstillatelseRealitetsBehandlet">
        <xs:sequence>
            <xs:element name="UtreiseFrist" type="xs:dateTime" nillable="true"/>
            <xs:element name="AvslagsGrunnlagOvrig" type="OppholdsgrunnlagKategori" nillable="true"/>
            <xs:element name="AvslagsGrunnlagEOS" type="EOSellerEFTAGrunnlagskategoriOppholdstillatelse" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BortfallAvPOellerBOS">
        <xs:sequence>
            <xs:element name="VirkningsDato" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOSellerEFTABeslutningOmOppholdsrett">
        <xs:sequence>
            <xs:element name="OppholdsrettsPeriode" type="Periode" minOccurs="0"/>
            <xs:element name="Effektueringsdato" type="xs:dateTime" nillable="true"/>
            <xs:element name="EOSOppholdsgrunnlag" type="EOSellerEFTAGrunnlagskategoriOppholdsrett" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOSellerEFTAOpphold">
        <xs:sequence>
            <xs:element name="EOSellerEFTABeslutningOmOppholdsrett" type="EOSellerEFTABeslutningOmOppholdsrett" minOccurs="0"/>
            <xs:element name="EOSellerEFTAVedtakOmVarigOppholdsrett" type="EOSellerEFTAVedtakOmVarigOppholdsrett" minOccurs="0"/>
            <xs:element name="EOSellerEFTAOppholdstillatelse" type="EOSellerEFTAOppholdstillatelse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOSellerEFTAOppholdstillatelse">
        <xs:sequence>
            <xs:element name="OppholdstillatelsePeriode" type="Periode" minOccurs="0"/>
            <xs:element name="Effektueringsdato" type="xs:dateTime" nillable="true"/>
            <xs:element name="EOSOppholdsgrunnlag" type="EOSellerEFTAGrunnlagskategoriOppholdstillatelse" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EOSellerEFTAVedtakOmVarigOppholdsrett">
        <xs:sequence>
            <xs:element name="OppholdsrettsPeriode" type="Periode" minOccurs="0"/>
            <xs:element name="Effektueringsdato" type="xs:dateTime" nillable="true"/>
            <xs:element name="EOSOppholdsgrunnlag" type="EOSellerEFTAGrunnlagskategoriOppholdsrett" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FormeltVedtak">
        <xs:sequence>
            <xs:element name="UtreiseFrist" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GjeldendeOppholdsstatus">
        <xs:sequence>
            <xs:element name="Uavklart" type="Uavklart" minOccurs="0"/>
            <xs:element name="EOSellerEFTAOpphold" type="EOSellerEFTAOpphold" minOccurs="0"/>
            <xs:element name="OppholdstillatelseEllerOppholdsPaSammeVilkar" type="OppholdstillatelseEllerOppholdsPaSammeVilkar" minOccurs="0"/>
            <xs:element name="IkkeOppholdstillatelseIkkeOppholdsPaSammeVilkarIkkeVisum" type="IkkeOppholdstillatelseIkkeOppholdsPaSammeVilkarIkkeVisum" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GjeldendePerson">
        <xs:sequence>
            <xs:element name="Fodselsnummer" type="common:Fodselsnummer" minOccurs="0"/>
            <xs:element name="Navn" type="PersonNavn" minOccurs="0"/>
            <xs:element name="Fodselsdato" type="MangelfullDato" minOccurs="0"/>
            <xs:element name="Alias" type="AliasListe" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentPersonstatusParameter">
        <xs:annotation>
            <xs:documentation>Parametre til bruk av operasjon for henting av oppholdsstatus. Fødselsnummer / D-nummer må være angitt.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fodselsnummer" type="common:Fodselsnummer">
                <xs:annotation>
                    <xs:documentation>Fødselsnummer / D-nummer til person som oppholdsstatus skal hentes for. Inngår i krav F001</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AvgjorelserFraDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kan angis for å filtrere bort avgjørelser fra Avgjorelsehistorikk. Benyttes kun når InkluderAvgjorelsehistorikk er gitt i forespørsel. Inngår i krav F024, samt tillegg T014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderArbeidsadgang" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet Arbeidsadgang skal returneres i respons. Dersom feltet er satt til true, så vil elementet Arbeidsadgang bli returnert. Dersom feltet er satt til false, så vil elementet Arbeidsadgang bli satt til null. Se Arbeidsadgang i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderAvgjorelsehistorikk" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet Avgjorelsehistorikk skal returneres i respons. Dersom feltet er satt til true, så vil elementet Avgjorelsehistorikk bli returnert. Dersom feltet er satt til false, så vil elementet Avgjorelsehistorikk bli satt til null. Se Avgjorelsehistorikk i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderFlyktningstatus" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet HarFlyktningstatus og HistorikkHarFlyktningstatus skal returneres i respons. Dersom feltet er satt til true, så vil elementene HarFlyktningstatus og HistorikkHarFlyktningstatus bli returnert. Dersom feltet er satt til false, så vil elementene HarFlyktningstatus og HistorikkHarFlyktningstatus bli satt til null. Se HarFlyktningstatus og HistorikkHarFlyktningstatus i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderSoknadOmBeskyttelseUnderBehandling" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet SoknadOmBeskyttelseUnderBehandling skal returneres i respons. Dersom feltet er satt til true, så vil elementet SoknadOmBeskyttelseUnderBehandling bli returnert. Dersom feltet er satt til false, så vil elementet SoknadOmBeskyttelseUnderBehandling bli satt til null. Se SoknadOmBeskyttelseUnderBehandling i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManuellOppgVedUavklartArbeidsadgang" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Hvis det blir funnet en uavklart arbeidsadgang, benyttes ManuellOppgVedUavklartArbeidsadgang til å bestemme om det skal oppretter oppgave for manuell avklaring eller ikke. Inngår i krav F012, samt tillegg T001</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentUtvidetPersonstatusParameter">
        <xs:annotation>
            <xs:documentation>Parametre til bruk av operasjon for henting av oppholdsstatus. Fødselsnummer / D-nummer må være angitt.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fodselsnummer" type="common:Fodselsnummer">
                <xs:annotation>
                    <xs:documentation>Fødselsnummer / D-nummer til person som oppholdsstatus skal hentes for. Inngår i krav F001</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AvgjorelserFraDato" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kan angis for å filtrere bort avgjørelser fra Avgjorelsehistorikk. Benyttes kun når InkluderAvgjorelsehistorikk er gitt i forespørsel. Inngår i krav F024, samt tillegg T014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderArbeidsadgang" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet Arbeidsadgang skal returneres i respons. Dersom feltet er satt til true, så vil elementet Arbeidsadgang bli returnert. Dersom feltet er satt til false, så vil elementet Arbeidsadgang bli satt til null. Se Arbeidsadgang i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderAvgjorelsehistorikk" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet Avgjorelsehistorikk skal returneres i respons. Dersom feltet er satt til true, så vil elementet Avgjorelsehistorikk bli returnert. Dersom feltet er satt til false, så vil elementet Avgjorelsehistorikk bli satt til null. Se Avgjorelsehistorikk i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderFlyktningstatus" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet HarFlyktningstatus og HistorikkHarFlyktningstatus skal returneres i respons. Dersom feltet er satt til true, så vil elementene HarFlyktningstatus og HistorikkHarFlyktningstatus bli returnert. Dersom feltet er satt til false, så vil elementene HarFlyktningstatus og HistorikkHarFlyktningstatus bli satt til null. Se HarFlyktningstatus og HistorikkHarFlyktningstatus i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderSoknadOmBeskyttelseUnderBehandling" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Benyttes til å bestemme om elementet SoknadOmBeskyttelseUnderBehandling skal returneres i respons. Dersom feltet er satt til true, så vil elementet SoknadOmBeskyttelseUnderBehandling bli returnert. Dersom feltet er satt til false, så vil elementet SoknadOmBeskyttelseUnderBehandling bli satt til null. Se SoknadOmBeskyttelseUnderBehandling i respons for krav</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManuellOppgVedUavklartArbeidsadgang" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Hvis det blir funnet en uavklart arbeidsadgang, benyttes ManuellOppgVedUavklartArbeidsadgang til å bestemme om det skal oppretter oppgave for manuell avklaring eller ikke. Inngår i krav F012, samt tillegg T001</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InkluderHjemmel" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Hvis arbeidsadgangen er beregnet til “Ja med begrensinger”, og flagget er satt i request, skal hjemmel returneres ut.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentPersonstatusRequestType">
        <xs:sequence>
            <xs:element name="Parameter" type="HentPersonstatusParameter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentUtvidetPersonstatusRequestType">
        <xs:sequence>
            <xs:element name="Parameter" type="HentUtvidetPersonstatusParameter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentPersonstatusResponseType">
        <xs:sequence>
            <xs:element name="Resultat" type="HentPersonstatusResultat"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentUtvidetPersonstatusResponseType">
        <xs:sequence>
            <xs:element name="Resultat" type="HentUtvidetPersonstatusResultat"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentPersonstatusResultat">
        <xs:annotation>
            <xs:documentation>Resultatsett fra operasjon for henting av oppholdsstatus</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Uttrekkstidspunkt" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Angir dato og klokkeslett for når uttrekket ble gjort hos UDI. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i tillegg T006</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Foresporselsfodselsnummer" type="common:Fodselsnummer">
                <xs:annotation>
                    <xs:documentation>Fødselsnummer / D-nummer det ble spurt etter. Kan være annet fødselsnummer / D-nummer enn gjeldende person sitt fødselsnummer / D-nummer hvis man spør med alias fødselsnummer / D-nummer. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i tillegg T005</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GjeldendePerson" type="GjeldendePerson">
                <xs:annotation>
                    <xs:documentation>Angir personalia til gjeldende person som ble funnet og benyttet i uttrekk. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i krav F001, F002, samt tillegg T005</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GjeldendeOppholdsstatus" type="GjeldendeOppholdsstatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir oppholdsstatus på gjeldende person. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i krav F004, F005, F016</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Arbeidsadgang" type="Arbeidsadgang" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir gjeldende person sin arbeidsadgang. Inkluderes i respons hvis InkluderArbeidsadgang i HentPersonstatusParameter er satt til true. Inngår i krav F012</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Avgjorelsehistorikk" type="Avgjorelser" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir gjeldende person sin avgjørelsehistorikk. Inkluderes i respons hvis InkluderAvgjorelsehistorikk i HentPersonstatusParameter er satt til true. Inngår i krav F003, F006, F010, F011, F014, F018, F023, F024, samt tilleggene T002, T003, T004, T008, T009, T010, T011, T013, T014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UavklartFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har avgjørelse(r) med konverterte koder som KAN gi flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HarFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har en positiv, ikke-omgjort avgjørelse som omhandler flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true. Inngår i krav F014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HistorikkHarFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har avgjørelse(r) som omhandler flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true. Inngår i krav F014, samt tillegg T011</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SoknadOmBeskyttelseUnderBehandling" type="SoknadOmBeskyttelseUnderBehandling" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person har søknad til behandling med kategori Beskyttelse. Inkluderes i respons hvis InkluderSoknadOmBeskyttelseUnderBehandling i HentPersonstatusParameter er satt til true. Inngår i krav F008</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HentUtvidetPersonstatusResultat">
        <xs:annotation>
            <xs:documentation>Resultatsett fra operasjon for henting av oppholdsstatus</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Uttrekkstidspunkt" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Angir dato og klokkeslett for når uttrekket ble gjort hos UDI. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i tillegg T006</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Foresporselsfodselsnummer" type="common:Fodselsnummer">
                <xs:annotation>
                    <xs:documentation>Fødselsnummer / D-nummer det ble spurt etter. Kan være annet fødselsnummer / D-nummer enn gjeldende person sitt fødselsnummer / D-nummer hvis man spør med alias fødselsnummer / D-nummer. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i tillegg T005</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GjeldendePerson" type="GjeldendePerson">
                <xs:annotation>
                    <xs:documentation>Angir personalia til gjeldende person som ble funnet og benyttet i uttrekk. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i krav F001, F002, samt tillegg T005</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GjeldendeOppholdsstatus" type="GjeldendeOppholdsstatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir oppholdsstatus på gjeldende person. Elementet returneres alltid, uavhengig av inkluderings-flagg. Inngår i krav F004, F005, F016</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Arbeidsadgang" type="ArbeidsadgangUtvidet" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir gjeldende person sin arbeidsadgang. Inkluderes i respons hvis InkluderArbeidsadgang i HentPersonstatusParameter er satt til true. Inngår i krav F012</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Avgjorelsehistorikk" type="Avgjorelser" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir gjeldende person sin avgjørelsehistorikk. Inkluderes i respons hvis InkluderAvgjorelsehistorikk i HentPersonstatusParameter er satt til true. Inngår i krav F003, F006, F010, F011, F014, F018, F023, F024, samt tilleggene T002, T003, T004, T008, T009, T010, T011, T013, T014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UavklartFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har avgjørelse(r) med konverterte koder som KAN gi flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HarFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har en positiv, ikke-omgjort avgjørelse som omhandler flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true. Inngår i krav F014</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HistorikkHarFlyktningstatus" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person sin historikk har avgjørelse(r) som omhandler flykningstatus. Inkluderes i respons hvis både InkluderAvgjorelsehistorikk og InkluderFlyktningstatus i HentPersonstatusParameter er satt til true. Inngår i krav F014, samt tillegg T011</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SoknadOmBeskyttelseUnderBehandling" type="SoknadOmBeskyttelseUnderBehandling" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Angir om gjeldende person har søknad til behandling med kategori Beskyttelse. Inkluderes i respons hvis InkluderSoknadOmBeskyttelseUnderBehandling i HentPersonstatusParameter er satt til true. Inngår i krav F008</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IkkeOppholdstillatelseIkkeOppholdsPaSammeVilkarIkkeVisum">
        <xs:sequence>
            <xs:element name="UtvistMedInnreiseForbud" type="UtvistMedInnreiseForbud" minOccurs="0"/>
            <xs:element name="AvslagEllerBortfallAvPO-BOSellerTilbakekallEllerFormeltVedtak" type="AvslagEllerBortfallAvPO-BOSellerTilbakekallEllerFormeltVedtak" minOccurs="0"/>
            <xs:element name="OvrigIkkeOpphold" type="OvrigIkkeOpphold" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MangelfullDato">
        <xs:sequence>
            <xs:element name="Ar" type="common:Ar" nillable="true"/>
            <xs:element name="Maned" type="common:Maned" nillable="true"/>
            <xs:element name="Dag" type="xs:int" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Navn">
        <xs:sequence>
            <xs:element name="Fornavn" type="xs:string"/>
            <xs:element name="Etternavn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OppholdPaSammeVilkar">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="SoknadOmBeskyttelseUnderBehandling">
        <xs:sequence>
            <xs:element name="ErUnderBehandling" type="JaNeiUavklart"/>
            <xs:element name="Soknadsdato" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Oppholdstillatelse">
        <xs:sequence>
            <xs:element name="OppholdstillatelseType" type="OppholdstillatelseKategori" nillable="true"/>
            <xs:element name="VedtaksDato" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OppholdstillatelseEllerOppholdsPaSammeVilkar">
        <xs:sequence>
            <xs:element name="OppholdstillatelsePeriode" type="Periode" minOccurs="0"/>
            <xs:element name="Effektueringsdato" type="xs:dateTime" nillable="true"/>
            <xs:element name="Oppholdstillatelse" type="Oppholdstillatelse" minOccurs="0"/>
            <xs:element name="OppholdPaSammeVilkar" type="OppholdPaSammeVilkar" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OvrigIkkeOpphold">
        <xs:sequence>
            <xs:element name="Arsak" type="OvrigIkkeOppholdsKategori" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Periode">
        <xs:sequence>
            <xs:element name="Fra" type="xs:dateTime" nillable="true"/>
            <xs:element name="Til" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonNavn">
        <xs:annotation>
            <xs:documentation>Grunnleggende opplysninger om navn</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fornavn" type="xs:string"/>
            <xs:element name="Mellomnavn" type="xs:string" minOccurs="0"/>
            <xs:element name="Etternavn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TilbakeKall">
        <xs:sequence>
            <xs:element name="VirkningsDato" type="xs:dateTime" nillable="true"/>
            <xs:element name="UtreiseFrist" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tillatelse">
        <xs:sequence>
            <xs:element name="VarighetKode" type="common:Kodeverk" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Varighet" type="xs:int" nillable="true"/>
            <xs:element name="Gyldighetsperiode" type="Periode" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uavklart">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="Utfall">
        <xs:sequence>
            <xs:element name="VarighetKode" type="common:Kodeverk" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Varighet" type="xs:int" nillable="true"/>
            <xs:element name="GjeldendePeriode" type="Periode" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UtvistMedInnreiseForbud">
        <xs:sequence>
            <xs:element name="InnreiseForbud" type="JaNeiUavklart" nillable="true"/>
            <xs:element name="VedtaksDato" type="xs:dateTime" nillable="true"/>
            <xs:element name="Varighet" type="Varighet" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Alternativ">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ja"/>
            <xs:enumeration value="Nei"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ArbeidOmfangKategori">
        <xs:annotation>
            <xs:documentation>Typer av arbeidsomfang som angir begrensninger med hensyn til arbeidstid</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IngenKravTilStillingsprosent"/>
            <xs:enumeration value="KunArbeidHeltid"/>
            <xs:enumeration value="KunArbeidDeltid"/>
            <xs:enumeration value="DeltidSamtFerierHeltid"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ArbeidsadgangType">
        <xs:annotation>
            <xs:documentation>Typer av arbeidsbegrensning som angir om arbeidstillatelse er gitt med begrensninger</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BestemtArbeidsgiverEllerOppdragsgiver"/>
            <xs:enumeration value="BestemtArbeidEllerOppdrag"/>
            <xs:enumeration value="BestemtArbeidsgiverOgArbeidEllerBestemtOppdragsgiverOgOppdrag"/>
            <xs:enumeration value="Generell"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EOSellerEFTAGrunnlagskategoriOppholdsrett">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Varig"/>
            <xs:enumeration value="IngenInformasjon"/>
            <xs:enumeration value="Familie"/>
            <xs:enumeration value="TjenesteytingEllerEtablering"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EOSellerEFTAGrunnlagskategoriOppholdstillatelse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EgneMidlerEllerFastePeriodiskeYtelser"/>
            <xs:enumeration value="Arbeid"/>
            <xs:enumeration value="Utdanning"/>
            <xs:enumeration value="TjenesteytingEllerEtablering"/>
            <xs:enumeration value="Familie"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JaNeiUavklart">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ja"/>
            <xs:enumeration value="Nei"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OppholdsgrunnlagKategori">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Permanent"/>
            <xs:enumeration value="Beskyttelse"/>
            <xs:enumeration value="SterkeMenneskeligeHensynEllerSaerligTilknytningTilNorge"/>
            <xs:enumeration value="Arbeid"/>
            <xs:enumeration value="Utdanning"/>
            <xs:enumeration value="Familie"/>
            <xs:enumeration value="SelvstendigNaeringsvirksomhet"/>
            <xs:enumeration value="Annet"/>
            <xs:enumeration value="Uavklart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OppholdstillatelseKategori">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Permanent"/>
            <xs:enumeration value="Midlertidig"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OvrigIkkeOppholdsKategori">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OpphevetInnreiseforbud"/>
            <xs:enumeration value="AnnuleringAvVisum"/>
            <xs:enumeration value="UtloptOppholdstillatelse"/>
            <xs:enumeration value="UtloptEOSellerEFTAOppholdsrettEllerEOSellerEFTAOppholdstillatelse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Varighet">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EttAr"/>
            <xs:enumeration value="ToAr"/>
            <xs:enumeration value="FemAr"/>
            <xs:enumeration value="Varig"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
