apps/udi-stub/udi-core/src/main/resources/personstatus.wsdl

<!--Generated by wscf.lightblue-->
<!--Tuesday, 17-01-2017 - 04:27 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://udi.no/Common/Fault/v3" xmlns:import2="http://udi.no/Common/Headers/v2" xmlns:tns="http://udi.no.MT_1067_NAV.v1" xmlns:import4="http://udi.no/Common_Tilgangskontroll/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import5="http://udi.no/Common/v2" xmlns:import0="http://udi.no/MT_1067_NAV_Data/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MT_1067_NAV_v1" targetNamespace="http://udi.no.MT_1067_NAV.v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="informasjon/MT_1067_NAV_Data_v1.xsd" namespace="http://udi.no/MT_1067_NAV_Data/v1" />
      <xsd:import schemaLocation="informasjon/Common_Fault_v3.xsd" namespace="http://udi.no/Common/Fault/v3" />
      <xsd:import schemaLocation="informasjon/Common_Headers_v2.xsd" namespace="http://udi.no/Common/Headers/v2" />
      <xsd:import schemaLocation="informasjon/MT_1067_NAV_v1.xsd" namespace="http://udi.no.MT_1067_NAV.v1" />
      <xsd:import schemaLocation="informasjon/Common_Tilgangskontroll_v1.xsd" namespace="http://udi.no/Common_Tilgangskontroll/v1" />
      <xsd:import schemaLocation="informasjon/Common_v2.xsd" namespace="http://udi.no/Common/v2" />
    </xsd:schema>
  </types>
  <message name="pingIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:PingRequest" />
  </message>
  <message name="pingOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:PingResponse" />
  </message>
  <message name="PingInHeader">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="header_parameters" element="import2:RequestHeader" />
  </message>
  <message name="PingFault">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="detail" element="import1:Fault" />
  </message>
  <message name="deepPingIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:DeepPingRequest" />
  </message>
  <message name="deepPingOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:DeepPingResponse" />
  </message>
  <message name="DeepPingInHeader">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="header_parameters" element="import2:RequestHeader" />
  </message>
  <message name="DeepPingFault">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="detail" element="import1:Fault" />
  </message>
  <message name="hentPersonstatusIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:HentPersonstatusRequest" />
  </message>
  <message name="hentPersonstatusOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="tns:HentPersonstatusResponse" />
  </message>
  <message name="HentPersonstatusInHeader">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="header_parameters" element="import2:RequestHeader" />
  </message>
  <message name="HentPersonstatusFault">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="detail" element="import1:Fault" />
  </message>
  <portType name="MT_1067_NAV_v1Interface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:pingIn" />
      <output message="tns:pingOut" />
      <fault name="Fault" message="tns:PingFault" />
    </operation>
    <operation name="DeepPing">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:deepPingIn" />
      <output message="tns:deepPingOut" />
      <fault name="Fault" message="tns:DeepPingFault" />
    </operation>
    <operation name="HentPersonstatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:hentPersonstatusIn" />
      <output message="tns:hentPersonstatusOut" />
      <fault name="Fault" message="tns:HentPersonstatusFault" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_MT_1067_NAV_v1Interface" type="tns:MT_1067_NAV_v1Interface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://udi.no.MT_1067_NAV.v1:pingIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:PingInHeader" part="header_parameters" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" />
      </fault>
    </operation>
    <operation name="DeepPing">
      <soap:operation soapAction="http://udi.no.MT_1067_NAV.v1:deepPingIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:DeepPingInHeader" part="header_parameters" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" />
      </fault>
    </operation>
    <operation name="HentPersonstatus">
      <soap:operation soapAction="http://udi.no.MT_1067_NAV.v1:hentPersonstatusIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:HentPersonstatusInHeader" part="header_parameters" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" />
      </fault>
    </operation>
  </binding>
  <service name="MT_1067_NAV_v1Port">
    <port name="MT_1067_NAV_v1Port" binding="tns:BasicHttpBinding_MT_1067_NAV_v1Interface">
      <soap:address location="http://localhost/MT_1067_NAV_v1" />
    </port>
  </service>
</definitions>