apps/udi-stub/udi-core/src/main/resources/wsdl/schema/Common_Fault_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://udi.no/Common/Fault/v3" targetNamespace="http://udi.no/Common/Fault/v3" elementFormDefault="qualified">
  <xs:element name="Fault" type="Fault" nillable="true" />
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="KodeId" type="xs:int" minOccurs="0" />
      <xs:element name="Feilmelding" type="xs:string" minOccurs="0" />
      <xs:element name="Kategori" type="xs:string" minOccurs="0" />
      <xs:element name="Niva" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>