apps/oppdrag-service/src/main/resources/schema/tjenester/oppdragService/feil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav.no/system/os/tjenester/oppdragService/feil"
            version="1.0"
            xmlns:feil="http://nav.no/system/os/tjenester/oppdragService/feil"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="StelvioFault">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
            <xsd:element minOccurs="0" name="errorSource" type="xsd:string"/>
            <xsd:element minOccurs="0" name="errorType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="rootCause" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dateTimeStamp" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="feilUnderBehandling">
        <xsd:annotation>
            <xsd:documentation>Feil under behandling i baksystemet</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:StelvioFault"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>